.maxBtn {
  background: #2d2f35;
  color: #e8e8e8;
  height: 1.25rem;
  padding: 0.15rem 0.3rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maxBtn:hover {
  background: #3b404a;
}

.cardLine {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 0.75rem 1.25rem;
  text-transform: none;
  font-size: 1rem;
}
