@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../public/assets/fonts/Inter-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
    background-image: url('../public/assets/images/backdrops/red.svg');
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: 39rem;
  }
}
